bin
obj
*.suo
*.user
_ReSharper.*
.vs

Build/Build.rsp
Build/Scripts/TestResult.xml
Projects/Application/Publish/
Projects/Application/Sources/Sabadyar.Web.Site/ConnectionStrings.config
Projects/Application/Sources/Sabadyar.Web.Site/AppSettings.config
Projects/Application/Sources/Sabadyar.Web.Site/Product.config
Projects/Database/Publish/
Projects/Docs/Publish/
Projects/Package

*.log
